In [1]:
import pandas as pd 
import numpy as np

In [2]:
column_names = ["ISBN", "Book-Title", "Book-Author", "Year-Of-Publication", "Publisher", "Image-URL-S", "Image-URL-M", "Image-URL-L"]

In [3]:
books = pd.read_csv("BX-Books.csv", sep=";", on_bad_lines="skip",low_memory=False,encoding='latin-1',names=column_names,header=None)

In [4]:
books.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...

In [5]:
books.shape

(271360, 8)

In [6]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [7]:
# remove extra columns 
books=books[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',]]

In [8]:
books.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada

In [9]:
books.shape

(271360, 5)

In [10]:
# rename the columns and make them smaller case 
books.rename(columns={'Book-Title': 'title','Book-Author': 'author','Year-Of-Publication': 'year','Publisher': 'publisher'},inplace=True)

In [11]:
books.head()

,ISBN,title,author,year,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [12]:
users = pd.read_csv("BX-Users.csv",sep=";", header=None,na_values="\\N", encoding="latin-1",names=['user-id','location','age'])

In [13]:
users.head(2)

   user-id                   location   age
0        1         nyc, new york, usa   NaN
1        2  stockton, california, usa  18.0

In [14]:
ratings=pd.read_csv("BX-Book-Ratings.csv",sep=";", header=None, encoding="latin-1",names=['user-id','ISBN','rating'])

In [16]:
ratings.head(2)

   user-id        ISBN  rating
0   276725  034545104X       0
1   276726  0155061224       5

In [17]:
books.shape

(271360, 5)

In [18]:
users.shape

(278858, 3)

In [19]:
ratings.shape

(1149780, 3)

In [22]:
ratings['user-id'].value_counts([user_counts == 200])

user-id
11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
119573        1
276706        1
276697        1
276679        1
276676        1
Name: count, Length: 105283, dtype: int64